.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 260px;
  border: 0;
  box-shadow: -5px 7px 5px -5px rgba(255,165,0,0.75);
  -webkit-box-shadow: -5px 7px 5px -5px rgba(255,165,0,0.75);
  -moz-box-shadow: -5px 7px 5px -5px rgba(255,165,0,0.75);
  border-radius: 15px;
  position: relative;
  margin: auto;
}
.type-container {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.type-container * {
  border: 1px solid;
  border-radius: 9px;
  padding: 2px 5px;
  margin-left: 5px;
}
.pokemon-card img {
  height: 150px;
  width: 150px;
  margin-top: 10px;
}
.card-name {
  margin: 0 0 15px;
}
.image-container {
  position: relative;
}
.grass {
  background-color: rgba(90, 224, 0, 0.7);
  border: 1px solid green;
}
.poison {
  background-color: rgba(57, 143, 0, 0.7);
  border: 1px solid rgb(0, 187, 0);
}
.fire {
  background-color: rgba(247, 58, 0, 0.7);
  border: 1px solid rgb(187, 0, 0);
}
.water {
  background-color: rgba(61, 61, 223, 0.7);
}