.input-container {
  width: 100%;
}

form {
  width: 60%;
  margin: auto auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 80%;
  padding: 13px 20px;
  margin: auto 0;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1rem;
}
form button {
  padding: 14px 15px;
  background-color: var(--blue);
  border: none;
  cursor: pointer;
  color: var(--cuarzo);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}